@import "../../styles/variables";
@import "../../styles/responsive-mixins";

.button {
  border-radius: 10.18388rem;
  background: $primaryOrange;
  color: #fff;
  font-family: $poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 1.75rem */
  padding: 0.8rem 2.1rem;
  border: none;
  @include xl {
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 1.08rem 3.4rem;
  }
  &:hover {
    background-color: darken($primaryOrange, 10%);
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
  }
}
